<% provide(:title, 'WDF*IDF Aanalysis') %>
<% @body_id = "wdf-idf" %>
<div class="container">
  <div class="row">
     <div class="col-lg-12">
      <div class="panel panel-default">
      <div class="panel-heading" name="top-ten-results" id="top-ten-results">
      <h1>Sistrix Sichtbarkeitsindex</h1>
      
    </div>
        <div class="panel-body">
          <div class="table-responsive">
            
      </div>
    </div>
  
  </div>
    </div> <!-- span12 -->
  </div> <!-- row -->
</div> <!-- container -->